annotated-doc==0.0.5
anyio==4.15.1
axis-bio==0.2.1.dev0
certifi==2026.7.22
contourpy==1.4.0
cycler==0.12.1
duckdb==1.5.6
fonttools==4.66.1
gemmi==0.7.5
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.20
kiwisolver==1.5.1
markdown-it-py==4.2.0
matplotlib==3.11.2
mdurl==0.1.2
numpy==2.5.3
packaging==26.3
pillow==12.3.0
pip==26.1.2
Pygments==2.21.0
pyparsing==3.3.3
python-dateutil==2.9.0.post0
pytz==2026.5
rdkit==2025.9.3
rich==14.3.4
scipy==1.18.1
shellingham==1.5.4
six==1.17.0
typer==0.27.2
typing_extensions==4.16.0
